*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: wheat;
    
}
.wrapper{
    width: 330px;
    height: 800px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color:white;
    border-radius: 10px;
    text-align: 0 20px 35px rgb(0, 0, 0, 0.1);
    
}
.header{
    display: flex;
}
p{
    color: rgba(211,181,124,1);
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    bottom: 50px;
}
.button{
    display: flex;
    margin-top:15px;
}
button{
    font-size: small;
    border:solid;
    border-radius: 15px;
    border-color: rgb(211, 181, 124);
    background-color: white;
    width: 120px;
    height: 40px;
    color: black;
    cursor: pointer;
}
button1{
    height: 40px;
    width: 40px;
    border: solid; 
    border-radius: 15px; 
    border-color: rgb(211, 181, 124);
    cursor: pointer;
}
.post{
    position: relative;
    bottom: 30px;
}
.row1{
    display: flex;
    margin-top: 3px;
}
.row2{
    display: flex;
    margin-top: 5px;
}
.row3{
    display: flex;
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.icon{
    margin-top: 10px;
    margin-left: 5px;
}
p2{
    font-size: smaller;
    font-weight: lighter;
}